/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  background-color: #abcbab;

  font-Family: 'Ubuntu', Helvetica, sans-serif;
}

input[type="button" i] {
  width: 200px;
  border: none;
  background-color: #ffe7e6;
  padding: 8px;
  border-radius: 2px;
  font-Family: 'Ubuntu', Helvetica, sans-serif;

  cursor: pointer;
}

#haiku {
  font-Family: 'Parisienne', cursive;
  font-size: 2rem;
  font-weight: bold;
  width: auto;

  background-color: #fff8f7;
  padding: 2px 16px;
  border-radius: 2px;
}

#haiku h1, #haiku p {
  cursor: pointer;
}

.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  flex-direction: column;
}

.sentiment img {
  max-width: 500px;
  border-radius: 2px;
}

.haiku-and-sentiment {
  width: 80vw;
}
