/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  font-family: 'Kiwi Maru', serif;
  width: 1200px;
  margin: auto;
  background-color: #f9eaf1;
}

::selection{
  background: #ebb9cf;
}

#poem {
  font-size: 1.2rem;
  width: 634px;
}

#answer {
  width: 16rem;
  height: 2rem;
  border: 1px dashed #dc88ac;
  letter-spacing: 1px;
}

.found {
  color: #c63976;
}


.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 215px;
  margin: 0px;
}

.img-hidden {
  opacity: 0;
}

.img-revealed {
  opacity: 100;
}
